div(class="boxu")
div(class="boxl")
    div(class="box1")
        label(for="burger") &#9776
div(class="boxr")
    div(class="box2")  

div(class="menu")
    a(href="about.html") 關於雨潔
    a(href="#") 愛心認養
    a(href="#") 幸福分享
    a(href="#") 支持雨潔
    a(href="#") 聯絡我們