//- 漢堡選單
mixin nav(link, page, img, alt)
    a(href=link)
        img(src="imgs/"+img+".svg", alt=alt)
        h6=page

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")(name="viewport")(content="width=device-width, initial-scale=1.0, user-scalable=no")
        
        title 林雨潔貓咪中途之家
        link(rel="stylesheet", href="style.css")

        //- 導覽列 漢堡選單的
        input(type="checkbox" id="burger")
        div(class="burger")
            +nav("#","關於雨潔","icon1","icon1")
            +nav("#","愛心認養","icon2","icon2")
            +nav("#","幸福分享","icon3","icon3")
            +nav("#","支持雨潔","icon4","icon4")
            +nav("#","聯絡我們","icon5","icon5")
            a(href="#" class="x") &#10005

    body
        //- 背景的框框們
        div(class="boxu")
        div(class="boxl")
            div(class="box1")
                label(for="burger") &#9776
        div(class="boxr")
            div(class="box2")
        //- 導覽列 顯示的
        div(class="menu")
            a(href="#") 關於雨潔
            a(href="#") 愛心認養
            a(href="#") 幸福分享
            a(href="#") 支持雨潔
            a(href="#") 聯絡我們

        //- 內容
        section(id="title")
            h1 #[span 林雨潔] 貓咪中途之家
        div(class="pic")
        div(id="content")
            h2 WELCOME!
                hr
                p  在這個世界上，每隻貓咪都是平等、都是特別的，你怎麼看待一隻貓咪，那隻貓咪可能就會因你而有所改變，一份尊重和愛心往往會產生意想不到的變化喔！
