//- 導覽列 選項
//- mixmin nav(link,img,alt,page)
//-     a(href=link)
//-         img(src="imgs/"+img+".png", alt=alt)
//-             h6=page

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title Document
    body
        nav
            a(href="#")
                h6 關於雨潔
                img(src="imgs/icon1.png", alt="icon1")